.CoreX
{
    width: 50%;
    height: 600px;
    background-color: rgb(159, 151, 151);
    margin:10px;
    display: inline-block;
    /* float: left; */
}

.CoreX0
{
    /* width: 18%;
    height: 75px;
    background-color: blue;
    margin: 10px;
    display: inline-block; */
    display: inline;
    width: 70%;
    position: relative;
    /* float:left; */
}

.CoreX2
{
    width: 18%;
    height: 75px;
    background-color: blue;
    margin: 10px;
    display: inline-block;
    /* float:left; */
}

.CoreX2_y
{
    width: 18%;
    height: 75px;
    background-color: yellow;
    margin: 10px;
    display: inline-block;
    /* float:left; */
}

.CoreX2_g
{
    width: 18%;
    height: 75px;
    background-color: green;
    margin: 10px;
    display: inline-block;
    /* float:left; */
}

.CoreX2_r
{
    width: 18%;
    height: 75px;
    background-color: red;
    margin: 10px;
    display: inline-block;
    /* float:left; */
}

.CoreX2_rr
{
    width: 18%;
    height: 75px;
    background-color: rgb(142, 96, 96);
    margin: 10px;
    display: inline-block;
    /* float:left; */
}

